<div class="mb-4 text-sm font-medium text-center text-gray-500 border-b border-gray-200" data-controller='tab'>
  <ul class="flex flex-wrap -mb-px">
    <li class="me-2">
      <%= link_to '+ New Team', new_team_path,
                  class: 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-indigo-700 hover:border-indigo-700',
                  data: { 'turbo-frame': :container, tab_target: 'tab', action: 'tab#toggle' } %>
    </li>
    <% @teams.each do |team| %>
      <li class="me-2" data-tab-target='tab'>
        <%= link_to team.team_name, team,
                    class: 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-indigo-700 hover:border-indigo-700',
                    data: { 'turbo-frame': :container, tab_target: 'tab', action: 'tab#toggle' } %>
      </li>
    <% end %>
  </ul>
</div>

<%= turbo_frame_tag :container, src: 'teams/new' %>
