<ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex">
  <% items.each do |item| %>
    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
      <div class="flex items-center ps-3">
        <%= form.radio_button field, item, id: radio_id(item), class: 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 ring-offset-gray-700 focus:ring-offset-gray-700 focus:ring-2' %>
        <%= form.label field, attribute_model(form.object, field, option: item), for: radio_id(item), class: 'w-full py-3 ms-2 text-sm font-medium text-black' %>
      </div>
    </li>
  <% end %>
</ul>
