<% opts = {
  id: options[:id],
  autocomplete: options[:autocomplete],
  autofocus: options[:autofocus],
  class: input_class,
  data: options[:data]
} %>

<div class="relative h-11 w-full min-w-[200px]">
  <% if options[:type] == :select && items.present? %>
    <%= form.select field, items, {}, opts %>
  <% elsif options[:type] == :textarea %>
    <%= form.text_area field, opts.merge(placeholder: ' ') %>
  <% else %>
    <%= form.text_field field, opts.merge(placeholder: ' ', type: options[:type], step: options[:step]) %>
  <% end %>

  <%= form.label field, options[:label], class: label_class, for: options[:id] %>
</div>
