<%= form_with(url: 'projects/', local: true, method: :get, class: 'relative') do |form| %>
  <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"></div>
  <%= form.text_field :search, class: 'block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500', required: true, id: 'default-search' %>
  <%= form.submit 'Search', class: 'text-black absolute end-2.5 bottom-2.5 bg-gray-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2' %>
<% end %>
